# Configuration de l'environnement
APP_ENV=development
APP_URL=http://localhost/medapp-master

# Configuration de la base de données
DB_HOST=localhost
DB_NAME=medconnectdb
DB_USER=root
DB_PASS=

# Configuration Google OAuth
GOOGLE_CLIENT_ID=gogle-client-id
GOOGLE_CLIENT_SECRET=google-client-secret
GOOGLE_REDIRECT_URI=

# Sécurité
SESSION_SECRET=changez_cette_valeur_pour_une_chaine_aleatoire_complexe 